:root {
  --primary-color: burlywood;
  --secondary-color: rgb(210, 180, 140);
  --accent-color: #a0522d;
  --background-color: #f9f9f9;
  --text-color: #333;
  --border-color: #222;
}

/* Common styles - Mobile first */
h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

p {
  line-height: 2;
  text-align: justify;
}

.presentation > p {
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
}

.word-of > div {
  padding: 30px 10px;
  margin: 50px 10px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 30px 30px 30px 60px;
  box-shadow: 4px 8px 5px 0px var(--border-color);
  position: relative;
}

.word-of > div::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -30px;
  width: 40px;
  height: 30px;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  border-top-right-radius: 40px 40px;
  border-bottom-left-radius: 60px 40px;
  transform: rotate(-2deg);
  box-shadow: 2px 4px 5px 0px var(--border-color);
  z-index: 0;
}

.word-of > div:nth-child(2)::after {
  left: auto;
  right: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 60px 40px;
  transform: rotate(10deg);
}

h5 {
  padding-left: 10px;
}

.title .slogan {
  font-size: 1.5rem;
}

img,
.carouselIndicators1,
.carouselIndicators2,
.carouselIndicators3 {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.multiple-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Contact page */
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.social-links a img {
  width: 40px;
  margin-top: 10px;
}

.social-links a {
  text-decoration: none;
}

.contact,
.localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}

.localisation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

iframe {
  width: 90%;
  border-radius: 10px;
}

/* Pension page */
.pension-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.pension-options {
  margin-bottom: 60px;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  padding: 25px 10px;
}

.pension-options table {
  table-layout: fixed;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}

.pension-options table td,
.pension-options table th {
  width: 50%;
  word-break: break-word;
}

.img-mobile {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 20px auto 0 auto;
  transform: none;
}

/* Action page */
.div-action {
  border: 1px solid var(--border-color);
  margin: 100px 0;
}

.div-action > p {
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Navbar */
nav .logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 5px;
}

nav .social-icon {
  width: 20px;
  height: 20px;
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 100px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title h1 {
    margin-bottom: 0px;
  }
  .title .slogan {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .presentation > p {
    background-color: var(--primary-color);
    padding: 50px 100px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .word-of > div {
    padding: 50px 50px;
    margin: 150px 100px;
  }

  .word-of > div::after {
    left: 40px;
    bottom: -40px;
    width: 60px;
    height: 40px;
  }

  .word-of > div:nth-child(2)::after {
    right: 40px;
  }

  h5 {
    padding-left: 25px;
  }

  .social-links {
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .social-links a img {
    width: 50px;
    margin-top: 20px;
  }

  .contact {
    margin-bottom: 100px;
  }

  .localisation {
    margin-bottom: 100px;
  }

  .img-pension {
    width: 20%;
  }

  .pension-details {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .pension-ul {
    margin-left: 50px;
  }

  .pension-options {
    margin-bottom: 150px;
    padding: 50px 25px;
  }

  .pension-options table {
    margin-bottom: 100px;
  }

  .img-pension1 {
    transform: rotate(-25deg);
  }
  .img-pension2 {
    width: 200px;
    margin-top: 25px;
  }

  nav .logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  nav .social-icon {
    width: 24px;
    height: 24px;
  }

  .div-action {
    border: 1px solid var(--border-color) 222;
    margin: 100px 0;
    padding-bottom: 20px;
  }

  .div-action > p {
    padding: 20px 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: auto;
  }

  .multiple-images {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
