/* Navbar */
nav .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

nav .social-icon {
  width: 24px;
  height: 24px;
}

/* Contact page */
.social-links a img {
  width: 50px;
  margin-top: 20px;
}

.social-links a {
  text-decoration: none;
}
